---
import { getCollection } from "astro:content";
import CardBlog from "../../components/CardBlog.astro";
import SplitText from "../../components/SplitText.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout>
  <main class="tw-mt-14">
    <h1 class="tw-font-monumentBold tw-text-[32px]">
      <SplitText title="Blog" letterClass="tw-py-2" />
    </h1>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <CardBlog {...post.data} />
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
