@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply tw-text-2xl;
  }
  h2 {
    @apply tw-text-xl;
  }
  h3 {
    @apply tw-text-lg;
  }
  h4 {
    @apply tw-text-base;
  }
  h5 {
    @apply tw-text-sm tw-font-semibold;
  }
}

html {
  @apply tw-font-normal tw-font-geist;
}

html,
body {
  @apply tw-bg-[#efefef];
}

body {
  @apply tw-mx-auto xs:tw-max-w-[80%] md:tw-max-w-[75%] lg:tw-max-w-[50%];
}

pre {
  @apply tw-border tw-border-[#4a4a4a] tw-text-[12px] tw-py-[2ch] tw-rounded-xl tw-my-3 tw-overflow-x-scroll lg:tw-text-[14px];
}

pre [data-line] {
  padding: 0 1rem;
}

blockquote {
  @apply tw-bg-purple-400 tw-bg-opacity-10;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

.link {
  background: linear-gradient(to right, black, black);
  background-size: 0 0.2em;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.link:visited {
  background-size: 0 0.2em;
}
.link:hover,
.link:focus {
  background-size: 100% 0.2em;
  cursor: pointer;
}

.link-header {
  background: linear-gradient(to right, white, white);
  background-size: 0 0.2em;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.link-header:visited {
  background-size: 0 0.2em;
}
.link-header:hover,
.link-header:focus {
  background-size: 100% 0.2em;
  cursor: pointer;
}
