@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply tw-text-2xl;
  }
  h2 {
    @apply tw-text-xl;
  }
  h3 {
    @apply tw-text-lg;
  }
  h4 {
    @apply tw-text-base;
  }
  h5 {
    @apply tw-text-sm tw-font-semibold;
  }
}

html {
  @apply tw-font-normal tw-font-geist;
}

html,
body {
  @apply tw-bg-[#efefef];
}

body {
  @apply tw-mx-auto xs:tw-max-w-[80%] md:tw-max-w-[75%] lg:tw-max-w-[50%];
}

pre {
  @apply tw-p-[2ch] tw-rounded-xl tw-my-3;
}

.article > h1,
.article > h2,
.article > h3,
.article > h4,
.article > h5,
.article > h6 {
  @apply tw-mt-6 tw-mb-4 tw-font-semibold;
}

.link {
  background: linear-gradient(to right, black, black);
  background-size: 0 0.2em;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.link:visited {
  background-size: 0 0.2em;
}
.link:hover,
.link:focus {
  background-size: 100% 0.2em;
  cursor: pointer;
}

.link-header {
  background: linear-gradient(to right, white, white);
  background-size: 0 0.2em;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.link-header:visited {
  background-size: 0 0.2em;
}
.link-header:hover,
.link-header:focus {
  background-size: 100% 0.2em;
  cursor: pointer;
}
