---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon/components";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import CardBlog from "../components/CardBlog.astro";
import SplitText from "../components/SplitText.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="tw-relative">
    <Header title={SITE_TITLE} />
    <main>
      <section class="tw-h-screen tw-flex tw-flex-col tw-justify-center tw-overflow-hidden">
        <div class="tw-relative tw-h-9">
          <div class="tw-absolute o2 -tw-bottom-20 -tw-right-16">
            <svg width="100%" height="100%" viewBox="0 0 1400 1400">
              <def>
                <path
                  id="circle-3"
                  d="M487,700.5A213.5,213.5 0 1 1914,700.5A213.5,213.5 0 1 1487,700.5"></path>
              </def>
              <text
                class="circles__text tw-text-black tw-text-[60px] tw-uppercase tw-origin-[400px_400px] tw-will-change-[transform_opacity]"
              >
                <textPath
                  class="circles__text-path"
                  xlink:href="#circle-3"
                  aria-label=""
                  textLength="1250"
                >
                  available for freelance
                </textPath>
              </text>
            </svg>
          </div>
        </div>
        <h1 class="tw-text-[24px] tw-text-black tw-font-monumentBold tw-tracking-wide tw-pb-5">
          <SplitText title="Hi there, I’m Denny Abbas Zain a multidisciplinary developer" />
        </h1>
        <div class="tw-self-end">
          <button id="scroll-down" class="o1 tw-text-[24px] tw-font-monument link">
            Let’s connect
          </button>
          <Icon name="arrow-link" size={30} class={"tw-inline-block tw-animate-bounce"} />
        </div>
        <p class="o1 tw-text-[15px] tw-text-center tw-mt-10 -tw-bottom-24 tw-relative">
          scroll down <Icon name="scroll" size={30} class={"tw-inline-block"} />
        </p>
      </section>
      <section id="about" class="tw-h-screen tw-flex tw-flex-col tw-bg-[#efefef]">
        <h1 class="tw-font-monumentBold tw-text-[32px]">About</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa consectetur animi
          voluptatem, cum delectus ipsam modi nisi vero necessitatibus itaque iure aut magni ea
          perferendis! Veritatis repudiandae eligendi reprehenderit beatae.
        </p>
        <img
          data-speed="0.1"
          src="/images/denny-tampan.jpeg"
          alt="img-1"
          class="tw-rounded-3xl tw-mx-auto tw-mt-9"
          width="250"
        />
      </section>
      <section class="tw-h-screen">
        <h1 class="tw-font-monumentBold tw-text-[32px]">Work</h1>
        <h3 class="tw-font-geist tw-font-black">Quadrant Synergy Internasional</h3>
        <h3 class="tw-font-geist tw-font-semibold tw-flex tw-justify-between">
          <span>Frontend Developer</span>
          <span class="tw-mr-3">2022 - Present</span>
        </h3>
        <p>
          These was where my journey began. There, I worked on many projects in website. I was
          stoked, because the app was downloaded over 1M+ users. I started off as a frontend
          engineer, then tried to create unified codebase for web and mobile app. I took the
          opportunity to learn about the product development and launching real product in the
          market.
        </p>
      </section>
      <section id="blog" class="tw-h-screen">
        <h1 class="tw-font-monumentBold tw-text-[32px]">Latest blogs</h1>
        <div class="tw-flex tw-flex-col tw-space-y-10">
          {
            posts.slice(0, 3).map((post) => (
              <a class="tw-inline-block" href={`/blog/${post.slug}/`}>
                <CardBlog {...post.data} />
              </a>
            ))
          }
        </div>
        <a href="/blog" class="tw-flex tw-items-center">
          <span class="link">see more blogs </span>
          <Icon name="arrow-link" class="tw-ml-1" size={20} />
        </a>
      </section>
    </main>
    <Footer />
    <script>
      import gsap from "gsap";
      import { ScrollTrigger, ScrollToPlugin } from "gsap/all";

      gsap.registerPlugin(ScrollToPlugin);
      gsap.registerPlugin(ScrollTrigger);

      const toContactEl = document.querySelector("#scroll-down") as HTMLButtonElement;

      toContactEl.addEventListener("click", () => {
        gsap.to(window, { duration: 1.7, scrollTo: { y: "#contacts" }, ease: "power4.inOut" });
      });

      gsap.set("text.circles__text", { transformOrigin: "50% 50%" });
      gsap.to("text.circles__text", {
        duration: 12,
        ease: "none",
        rotation: "+=360",
        repeat: -1,
      });
      const tl = gsap.timeline({
        onComplete: () => {},
      });

      tl.from(
        ".o1",
        {
          duration: 2,
          skewX: -30,
          yPercent: 100,
          xPercent: 50,
          ease: "power4",
          stagger: 0.1,
          blur: 10,
          onComplete: () => {
            const o1 = document.querySelectorAll(".o1") as NodeListOf<HTMLSpanElement>;
            o1.forEach((el) => el.removeAttribute("style"));
          },
        },
        "<0.25"
      );

      tl.fromTo(
        ".o2",
        {
          skewX: 0,
          opacity: 0,
          yPercent: 100,
          xPercent: 50,
          blur: 10,
        },
        {
          skewX: -25,
          opacity: 1,
          yPercent: 0,
          xPercent: 0,
          ease: "power4",
          stagger: 0.1,
          blur: 0,
          duration: 2,
        },
        "<0.25"
      );
    </script>
  </body>
</html>
