---
import { SITE_TITLE } from "@/consts";
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/modules/home/Hero.astro";
import About from "@/modules/home/About.astro";
import Experience from "@/modules/home/Experience.astro";
import FeaturedProjects from "@/modules/home/FeaturedProjects.astro";
import LatestBlogs from "@/modules/home/LatestBlogs.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const projects = (await getCollection("project")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE}>
  <main>
    <Hero />
    <About />
    <Experience />
    <FeaturedProjects projects={projects} />
    <LatestBlogs posts={posts} />
  </main>
  <script>
    import "../scripts/main";
  </script>
</BaseLayout>
