---
import { Icon } from "astro-icon/components";
---

<footer>
  <section class="tw-mb-40">
    <span>got project? want collaborate?</span>
    <h2 class="tw-text-[40px] tw-font-monumentBold">Let’s do make some cool stuff together.</h2>
    <span>looking forward to create together</span>
    <div class="tw-grid tw-mt-[63px] tw-grid-cols-[auto_1fr]">
      <ul class="tw-flex tw-flex-col tw-text-[15px] tw-font-monument">
        <li>github <Icon name="arrow-link" size={30} class={"tw-inline-block"} /></li>
        <li>linkedin <Icon name="arrow-link" size={30} class={"tw-inline-block"} /></li>
        <li>medium <Icon name="arrow-link" size={30} class={"tw-inline-block"} /></li>
        <li>twitter <Icon name="arrow-link" size={30} class={"tw-inline-block"} /></li>
      </ul>
      <div class="tw-font-monumentBold tw-self-center tw-place-self-center tw-text-center">
        <h2 class="tw-text-[24px]">Get in touch</h2>
        <span class="tw-text-[15px]"
          >email me <Icon name="arrow-link" size={30} class={"tw-inline-block "} /></span
        >
      </div>
    </div>
  </section>
  <section>
    <p class="tw-text-[12px] tw-text-center">&copy; 2024 Denny Zain. All rights reserved</p>
  </section>
</footer>
