---
import CustomLink from "@/components/CustomLink.astro";
---

<section id="about" class="tw-grid tw-grid-cols-1 tw-gap-2 tw-grid-rows-[50px_.7fr]">
  <h1
    id="hover-special"
    class="tw-font-monumentBold tw-text-[32px] lg:tw-text-[30px] lg:tw-col-start-1 tw-self-center"
  >
    About
  </h1>
  <p
    class="tw-leading-7 lg:tw-leading-9 lg:tw-row-start-2 lg:tw-col-start-1 lg:tw-col-span-3 lg:tw-self-center lg:tw-text-[16px]"
  >
    Software engineer with 3+ years of experience building web applications that drive business
    growth. I'm passionate about solving problems and creating solutions that users love while
    delivering measurable value. Always learning, always curious.
  </p>
  <CustomLink
    link={{ name: "learn more about me", url: "/about" }}
    classWrapper="lg:tw-row-start-3 lg:tw-col-start-1"
    classText="lg:tw-text-[16px]"
  />
</section>
