---
import CustomLink from "@/components/CustomLink.astro";
---

<section
  class="tw-mt-4 tw-grid tw-grid-cols-1 tw-grid-rows-[50px_2fr] tw-gap-2 lg:tw-grid-cols-4 lg:tw-gap-5 lg:tw-mt-14"
>
  <h1
    id="hover-special"
    class="tw-font-monumentBold tw-text-[32px] lg:tw-text-[30px] tw-self-center"
  >
    Experience
  </h1>

  <div class="lg:tw-space-y-3 lg:tw-col-start-1 lg:tw-col-span-4">
    <h2 class="tw-font-geist tw-font-black lg:tw-text-[20px]">Quadrant Synergy Internasional</h2>
    <h3
      class="tw-font-geist tw-font-semibold tw-flex tw-justify-between tw-text-[16px] lg:tw-text-[16px]"
    >
      <span>Frontend Developer</span>
      <span class="tw-mr-3">2022 - 2025</span>
    </h3>
    <p class="tw-leading-7 lg:tw-text-[16px] lg:tw-leading-9">
      This was where my journey began as a professional developer. There, I worked on many projects
      in website development. I started off as a frontend developer, then attempted to create a
      unified codebase for the web. The majority of the websites were created with React.js (CRA)
      and later migrated to Next.js.
    </p>
  </div>
  <div class="lg:tw-space-y-3 lg:tw-col-start-1 lg:tw-col-span-4">
    <h2 class="tw-font-geist tw-font-black lg:tw-text-[20px]">The Invincible</h2>
    <h3
      class="tw-font-geist tw-font-semibold tw-flex tw-justify-between tw-text-[16px] lg:tw-text-[16px]"
    >
      <span>Co-Founder & NFT Creator</span>
      <span class="tw-mr-3">2021 - 2022</span>
    </h3>
    <p class="tw-leading-7 lg:tw-leading-9 lg:tw-text-[16px]">
      Together with my partner, I'm the creator of "The Invincible," an organization dedicated to
      creating unique and innovative NFTs. We push the boundaries of digital art and technology to
      bring you extraordinary pieces. Our team, consisting solely of the two of us, is committed to
      delivering high-quality, captivating NFTs that resonate with collectors.
    </p>
    <CustomLink
      link={{
        name: "our portofolio",
        url: "https://opensea.io/THE-INVINCIBLE/featured",
      }}
      ariaLabel="Go to OpenSea"
      newTab
      classText="lg:tw-text-[16px]"
    />
  </div>
</section>
